<div class="mdl-card">
    <div class="mdl-card__title">
        <span class="bookmark" ng-click="$ctrl.bookmark($ctrl.questionId)">
            <img class="solid" src="{{$ctrl.question.bookmarked && 'https://cdn3.iconfinder.com/data/icons/inficons-set-2/512/star-ratings-512.png' || 'https://png.icons8.com/metro/1600/star.png'}}"></img>
        </span>
        <h5 class="question_title" ng-bind-html="$ctrl.question.text"></h5>
    </div>
    <div class="mdl-card__supporting-text content">
        <ol>
            <li ng-repeat="answer in $ctrl.question.answers">
                <p class="answer" ng-bind-html="answer.Answer"></p>
                <div class="content_bar">
                    <div class="vote_content">
                        <span ng-click="$ctrl.voteUp($ctrl.questionId, $index)"><i class="fas fa-thumbs-up vote_up"></i></span>
                        <span ng-click="$ctrl.voteDown($ctrl.questionId, $index)"><i class="fas fa-thumbs-down vote_down"></i></span>
                        <p class="votes">{{answer.upvotes - answer.downvotes}}</p>
                    </div>
                </div>
            </li>
        </ol>
    </div>
    <div class="newComment">
        <input class="addComment" ng-model="$ctrl.input" type="text" value="Enter your answer here."/>
        <button class="button_addComment" ng-click="$ctrl.add($ctrl.questionId, $ctrl.input)">Add</button>
    </div>
</div>