.container {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-align-content: center;
    align-content: center;
    max-width: 800px !important;
}

.title {
    width: 500px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}

.mdl-card {
    width: 100% !important;
}

/* .content {

} */

.content {
    display: flex;
    justify-content: space-between;
}

.bookmark {
    float: left;
    width: 8%;
    margin: 0 !important;
}

.content_bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 25px;
}

.answer {
    width: 100%;
    margin: 0 !important;
    border: none !important;
}

.vote_content {
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;    
}

.vote_down {
    float: right;
}

.votes {
    float: right;
    margin: 0 !important;
}

.newComment {
    display: flex;
    align-items: center;
}

.addComment {
    width: 80%;
    border-radius: 5px;
    margin-left: 55px;
    margin-right: 15px;
}

.button_addComment{
    border: 1px solid #ddd;
    background-color: #f0f0f0;
    padding: 4px 12px;
    height: 30px;
    width: 60px;
    border-radius: 5px;
    font-size: 12px;
     -o-transition: background-color .2s ease-in; 
     -moz-transition: background-color .2s ease-in;
     -webkit-transition: background-color .2s ease-in; 
     transition: background-color .2s ease-in; 
 }
 
 .button_addComment:hover {
     background-color: #e5e5e5;    
 }
 
 .button_addComment:active {
     background-color: #ccc;
 }